body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca";
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    background-color: gray;
}
header{
    grid-area: cabeca;
    width: 300px;
    margin: auto;
    text-align: center;
}
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}
header img{
    width: 300px;
    align-items: center;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-group{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(159, 159, 163);
}